<h1><%= @list.name %></h1>
<%= button_to "Add a movie", new_list_bookmark_path(@list), method: :get %>

<div class="cards">
  <% @bookmarks.each do |bookmark| %>
    <% movie = @movies.where(id: bookmark.movie_id).first %>
    <div class="card-trip">
      <%= image_tag movie.poster_url, alt: movie.title %>
      <div class="card-trip-infos">
        <div>
          <h2><%= movie.title %></h2>
          <p><%= movie.overview %></p>
        </div>
        <h2 class="card-trip-pricing">⭐<%= movie.rating %></h2>
      </div>
      <div class="comment">
          "<%= bookmark.comment %>"
      </div>
      <div class="comment">
          <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      </div>
    </div>
  <% end %>
</div>
